Source: mutagen
Section: python
Priority: optional
Maintainer: Tristan Seligmann <mithrandi@debian.org>
Uploaders:
 Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>,
Build-Depends:
 debhelper (>= 9),
 dh-python,
 faad,
 flac,
 libc-bin (>= 2.13),
 oggz-tools,
 python3-all,
 python3-setuptools,
 vorbis-tools
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/python-team/modules/mutagen.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/mutagen
Homepage: https://github.com/quodlibet/mutagen

Package: python3-mutagen
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-pkg-resources
Breaks: python-mutagen (<< 1.44.0-1)
Replaces: python-mutagen (<< 1.44.0-1)
Description: audio metadata editing library (Python 3)
 Mutagen is a Python module to handle audio metadata. It supports FLAC,
 M4A, MP3, Ogg FLAC, Ogg Speex, Ogg Theora, Ogg Vorbis, True Audio, and
 WavPack audio files. All versions of ID3v2 are supported, and all
 standard ID3v2.4 frames are parsed. It can read Xing headers to
 accurately calculate the bitrate and length of MP3s. ID3 and APEv2
 tags can be edited regardless of audio format. It can also manipulate
 Ogg streams on an individual packet/page level.
 .
 This package is built for Python 3.
