Source: quodlibet
Section: sound
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Uploaders: Christine Spang <christine@debian.org>
Build-Depends: debhelper (>= 6), intltool, python-support (>= 0.7.5), quilt,
    python-gobject
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/quodlibet/

Package: exfalso
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    python-mutagen (>= 1.14),
    python-gtk2 (>= 2.12), libgtk2.0-0 (>= 2.12)
Recommends: quodlibet-plugins
Suggests: python-ctypes, libmodplug0c2
Conflicts: quodlibet-plugins (<< 20090127), quodlibet (<< 2.0)
Description: audio tag editor for GTK+
 Ex Falso displays and edits audio metadata tags. Supported formats include
 MP3, Ogg Vorbis, FLAC, Musepack (MPC), WavPack, and MOD/XM/IT.
 .
 Notable features include:
  * Freeform tag editing for most supported formats, including ID3v2
  * Multiple values for tag keys
  * Flexible rename-by-tags and tag-by-filename patterns
  * Extensible using simple Python-based plugins
  * Edit multiple files in several formats at once

Package: quodlibet
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    exfalso (= ${source:Version}),
    gstreamer0.10-plugins-base (>= 0.10.3), python-gst0.10 (>= 0.10.1),
    gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly
Recommends: gstreamer0.10-alsa, gstreamer0.10-gnomevfs, python-feedparser,
    python-mmkeys, python-ctypes, python-dbus, media-player-info,
    python-gpod, quodlibet-plugins
Suggests: gstreamer0.10-plugins-bad
Conflicts: quodlibte-ext
Replaces: quodlibte-ext
Description: audio library manager and player for GTK+
 Quod Libet is a music management program. It provides several different ways
 to view your audio library, as well as support for Internet radio and
 audio feeds. It has extremely flexible metadata tag editing and searching
 capabilities, using the same interface as Ex Falso.
 .
 Supported formats include MP3, Ogg Vorbis, FLAC, Musepack (MPC), WavPack,
 and MOD/XM/IT.
