#!/usr/bin/make -f

export PYBUILD_NAME=mutagen
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_auto_install:
	dh_auto_install

override_dh_installchangelogs:
	dh_installchangelogs NEWS
