#!/usr/bin/make -f
# debian/rules for quodlibet-plugins
# It's obscenely simple. I feel bad.

include /usr/share/quilt/quilt.make

CURRENT_PYTHON := `pyversions -d`

D := debian/quodlibet-plugins
U := usr/lib/${CURRENT_PYTHON}/dist-packages/quodlibet/plugins
P := $(D)/$(U)

build binary-arch install:
# Ye olde no-op.

binary: patch binary-indep

binary-indep:
	dh_clean -k
	dh_installdirs $(U)
	for plugin in $(wildcard */*.py *.py); do \
		install -D -m 644 -o 0 -g 0 $$plugin $(P)/$$plugin; \
	done
	dh_installchangelogs
	dh_installdocs
	dh_installdeb
	dh_compress
	dh_fixperms
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean: unpatch
	dh_clean
